body {
    background-color: #ededf2;
    font-family: 'Courier New', Courier, monospace;
}
header {
    text-align: center;
}
nav {
    position:absolute;
    line-height: 40px;
    font-size: 16px;
    top: 160px;
    float: left;
    background-color: #cfd5e1;
    border: 6px solid black;
}
main {
    text-align: center;
}
aside {
    float: right;  
}
table {
    position:absolute;
    line-height: 50px;
    right: 120px;
    background-color: #cfd5e1;
    border: 6px solid black;
}
img {
    float: left;
    width: 200px;
    left: 300px;
    margin-left: 20em;
}
p {
    
}
section {
    
}