html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
      margin: 20px;
      background-color: whitesmoke;
  }
  
  header p {
      font-size: 3em;
      font-style: italic;
  }

  footer h3 {
      color: white;
      background-color: darkgray;
  }

  footer {
      font-size: 0.7em;
  }