h1 {
    text-align: center;
}
li:hover {
    background-color: goldenrod;
    width: 130px;
    text-align: center;
}
li:active {
    color:blue;
}
ul {
    background-color: black;
    color: white;
}
li {
    list-style: none;
}