div:hover {
    background-color: blue;
    width: 160px;
}
.primaria {
    color:#5b88a5;
}
.secundaria {
    color: #ed4c87;
}
.complementar {
    color: #baafc4;
    font-size: 2em;
}
.escura {
    color:#3b234a;
}
.clara {
    color: #53ac59;
}
h3 {
    width: 160px;
    font-style: italic;
}